# Dataset

In [49]:
import pandas as pd
df_list = [
  ["Lamar Jackson", 23, "Ravens", "QB"]
  , ["Russell Wilson", 31, "Seahawks", "QB"]
  , ["Aaron Donald", 29, "Rams", "DT"]
  , ["Patrick Mahomes", 24, "Chiefs", "QB"]
  , ["Michael Thomas", 27, "Saints", "WR"]
  , ["Christian McCaffrey", 24, "Panthers", "RB"]
  , ["George Kittle", 26, "49ers", "TE"]
  , ["DeAndre Hopkins", 28, "Cardinals", "WR"]
  , ["Stephon Gilmore", 29, "Patriots", "CB"]
  , ["Derrick Henry", 26, "Titans", "RB"]
]
df_columns = ["Name", "Age", "Team", "Position"]
players = pd.DataFrame(data=df_list, columns=df_columns)

# SELECT

## Extract all
`SELECT * FROM players`

In [50]:
players

                  Name  Age       Team Position
0        Lamar Jackson   23     Ravens       QB
1       Russell Wilson   31   Seahawks       QB
2         Aaron Donald   29       Rams       DT
3      Patrick Mahomes   24     Chiefs       QB
4       Michael Thomas   27     Saints       WR
5  Christian McCaffrey   24   Panthers       RB
6        George Kittle   26      49ers       TE
7      DeAndre Hopkins   28  Cardinals       WR
8      Stephon Gilmore   29   Patriots       CB
9        Derrick Henry   26     Titans       RB

## Projection of some columns
`SELECT Name, Age FROM players`

In [51]:
players[["Name", "Age"]]

                  Name  Age
0        Lamar Jackson   23
1       Russell Wilson   31
2         Aaron Donald   29
3      Patrick Mahomes   24
4       Michael Thomas   27
5  Christian McCaffrey   24
6        George Kittle   26
7      DeAndre Hopkins   28
8      Stephon Gilmore   29
9        Derrick Henry   26

## Selection of top some rows
`SELECT TOP 5 * FROM players`

In [52]:
players.head(5)

              Name  Age      Team Position
0    Lamar Jackson   23    Ravens       QB
1   Russell Wilson   31  Seahawks       QB
2     Aaron Donald   29      Rams       DT
3  Patrick Mahomes   24    Chiefs       QB
4   Michael Thomas   27    Saints       WR

## DISTINCT
`SELECT DISTINCT Position FROM players`

In [53]:
players["Position"][~players["Position"].duplicated()]

0    QB
2    DT
4    WR
5    RB
6    TE
8    CB
Name: Position, dtype: object

# WHERE

## Selection of specific rows with condition
`SELECT * FROM players WHERE Position = 'QB'`

In [54]:
players[players.Position == "QB"]

              Name  Age      Team Position
0    Lamar Jackson   23    Ravens       QB
1   Russell Wilson   31  Seahawks       QB
3  Patrick Mahomes   24    Chiefs       QB

In [55]:
players[players["Position"] == "QB"]

              Name  Age      Team Position
0    Lamar Jackson   23    Ravens       QB
1   Russell Wilson   31  Seahawks       QB
3  Patrick Mahomes   24    Chiefs       QB

## Selection of specific rows & projection of some columns
`SELECT Name, Age FROM players WHERE Position = 'QB'`

In [56]:
players[["Name", "Age"]][players.Position == "QB"]

              Name  Age
0    Lamar Jackson   23
1   Russell Wilson   31
3  Patrick Mahomes   24

## NOT
`SELECT * FROM players WHERE NOT Position =='QB'`

In [57]:
players[~(players.Position == "QB")]

                  Name  Age       Team Position
2         Aaron Donald   29       Rams       DT
4       Michael Thomas   27     Saints       WR
5  Christian McCaffrey   24   Panthers       RB
6        George Kittle   26      49ers       TE
7      DeAndre Hopkins   28  Cardinals       WR
8      Stephon Gilmore   29   Patriots       CB
9        Derrick Henry   26     Titans       RB

In [58]:
players[~(players["Position"] == "QB")]

                  Name  Age       Team Position
2         Aaron Donald   29       Rams       DT
4       Michael Thomas   27     Saints       WR
5  Christian McCaffrey   24   Panthers       RB
6        George Kittle   26      49ers       TE
7      DeAndre Hopkins   28  Cardinals       WR
8      Stephon Gilmore   29   Patriots       CB
9        Derrick Henry   26     Titans       RB

## AND
`SELECT Name, Age FROM players WHERE Position = 'QB' AND Age < 30`

In [59]:
players[["Name", "Age"]][(players.Position == "QB") & (players.Age < 30)]

              Name  Age
0    Lamar Jackson   23
3  Patrick Mahomes   24

## OR
`SELECT Name, Age FROM players WHERE Position = 'QB' OR Position = 'RB'`

In [60]:
players[["Name", "Age"]][(players.Position == "QB") |(players.Position == "RB")]

                  Name  Age
0        Lamar Jackson   23
1       Russell Wilson   31
3      Patrick Mahomes   24
5  Christian McCaffrey   24
9        Derrick Henry   26

## AND / OR
`SELECT Name, Age FROM players WHERE (Position = 'QB' AND Age < 25) OR (Position = 'RB' AND Age < 25)`

In [61]:
players[["Name", "Age"]][
(
    (players.Position == "QB") & (players.Age < 25)
) | (
    (players.Position == "RB") & (players.Age < 25)
)]

                  Name  Age
0        Lamar Jackson   23
3      Patrick Mahomes   24
5  Christian McCaffrey   24

### TIPS
You have to put operator by brackets.

Otherwise, you will get an `TypeError: Cannot perform ‘rand_’ with a dtyped [int64] array and scalar of type [bool]`

`players[["Name", "Age"]][players.Position == "QB" & players.Age < 30]`

You also have to use ‘&’ and ‘|’ instead of ‘and’ and ‘or’.

Otherwise, you will get an `ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().`

`players[["Name", "Age"]][(players.Position == "QB") and (players.Age < 30)]`

## IN
`SELECT * FROM players WHERE Position IN ('QB', 'RB')`

In [62]:
players[players.Position.isin(["QB", "RB"])]

                  Name  Age      Team Position
0        Lamar Jackson   23    Ravens       QB
1       Russell Wilson   31  Seahawks       QB
3      Patrick Mahomes   24    Chiefs       QB
5  Christian McCaffrey   24  Panthers       RB
9        Derrick Henry   26    Titans       RB

## LIKE
`SELECT * FROM players WHERE Team LIKE '%ns%'`

In [63]:
players[players.Team.str.contains("ns")]

            Name  Age    Team Position
0  Lamar Jackson   23  Ravens       QB
9  Derrick Henry   26  Titans       RB

# ORDER BY

## Order by 1 column
`SELECT * FROM players ORDER BY Name`

In [64]:
players.sort_values("Name")

                  Name  Age       Team Position
2         Aaron Donald   29       Rams       DT
5  Christian McCaffrey   24   Panthers       RB
7      DeAndre Hopkins   28  Cardinals       WR
9        Derrick Henry   26     Titans       RB
6        George Kittle   26      49ers       TE
0        Lamar Jackson   23     Ravens       QB
4       Michael Thomas   27     Saints       WR
3      Patrick Mahomes   24     Chiefs       QB
1       Russell Wilson   31   Seahawks       QB
8      Stephon Gilmore   29   Patriots       CB

## Order by 2+ columns
`SELECT * FROM players ORDER BY Age, Name`

In [65]:
players.sort_values(["Age", "Name"])

                  Name  Age       Team Position
0        Lamar Jackson   23     Ravens       QB
5  Christian McCaffrey   24   Panthers       RB
3      Patrick Mahomes   24     Chiefs       QB
9        Derrick Henry   26     Titans       RB
6        George Kittle   26      49ers       TE
4       Michael Thomas   27     Saints       WR
7      DeAndre Hopkins   28  Cardinals       WR
2         Aaron Donald   29       Rams       DT
8      Stephon Gilmore   29   Patriots       CB
1       Russell Wilson   31   Seahawks       QB

## DESC
`SELECT * FROM players ORDER BY Age DESC, Name`

In [66]:
players.sort_values(["Age", "Name"], ascending=[False, True])

                  Name  Age       Team Position
1       Russell Wilson   31   Seahawks       QB
2         Aaron Donald   29       Rams       DT
8      Stephon Gilmore   29   Patriots       CB
7      DeAndre Hopkins   28  Cardinals       WR
4       Michael Thomas   27     Saints       WR
9        Derrick Henry   26     Titans       RB
6        George Kittle   26      49ers       TE
5  Christian McCaffrey   24   Panthers       RB
3      Patrick Mahomes   24     Chiefs       QB
0        Lamar Jackson   23     Ravens       QB

# GROUP BY

## COUNT
`SELECT COUNT(*) AS COUNT FROM players GROUP BY Position`

In [67]:
players.groupby("Position").agg({"Name": "count"}).rename(columns={"Name": "COUNT"})

          COUNT
Position
CB            1
DT            1
QB            3
RB            2
TE            1
WR            2

## SUM
`SELECT SUM(Age) AS Age FROM players GROUP BY Position`

In [68]:
players.groupby("Position").agg({"Age": "sum"})

          Age
Position
CB         29
DT         29
QB         78
RB         50
TE         26
WR         55

## AVG
`SELECT AVG(Age) AS Age FROM players GROUP BY Position`

In [69]:
players.groupby("Position").agg({"Age": "mean"})

           Age
Position
CB        29.0
DT        29.0
QB        26.0
RB        25.0
TE        26.0
WR        27.5

## RANK
`SELECT *, RANK() OVER (ORDER BY Age DESC) FROM players`

In [70]:
players["AgeRank"] = players.Age.rank(ascending=False)
players

                  Name  Age       Team Position  AgeRank
0        Lamar Jackson   23     Ravens       QB     10.0
1       Russell Wilson   31   Seahawks       QB      1.0
2         Aaron Donald   29       Rams       DT      2.5
3      Patrick Mahomes   24     Chiefs       QB      8.5
4       Michael Thomas   27     Saints       WR      5.0
5  Christian McCaffrey   24   Panthers       RB      8.5
6        George Kittle   26      49ers       TE      6.5
7      DeAndre Hopkins   28  Cardinals       WR      4.0
8      Stephon Gilmore   29   Patriots       CB      2.5
9        Derrick Henry   26     Titans       RB      6.5

## RANK + PARTITION BY
`SELECT *, RANK() OVER (PARTITION BY Position ORDER BY Age DESC) FROM players`

In [71]:
players["AgeRank"] = players.groupby("Position")["Age"].rank(ascending=False)
players

                  Name  Age       Team Position  AgeRank
0        Lamar Jackson   23     Ravens       QB      3.0
1       Russell Wilson   31   Seahawks       QB      1.0
2         Aaron Donald   29       Rams       DT      1.0
3      Patrick Mahomes   24     Chiefs       QB      2.0
4       Michael Thomas   27     Saints       WR      2.0
5  Christian McCaffrey   24   Panthers       RB      2.0
6        George Kittle   26      49ers       TE      1.0
7      DeAndre Hopkins   28  Cardinals       WR      1.0
8      Stephon Gilmore   29   Patriots       CB      1.0
9        Derrick Henry   26     Titans       RB      1.0

## DENSE
`SELECT *, DENSE_RANK() OVER (ORDER BY Age DESC) FROM players`

In [72]:
players["AgeRank"] = players.Age.rank(method="dense", ascending=False)
players

                  Name  Age       Team Position  AgeRank
0        Lamar Jackson   23     Ravens       QB      7.0
1       Russell Wilson   31   Seahawks       QB      1.0
2         Aaron Donald   29       Rams       DT      2.0
3      Patrick Mahomes   24     Chiefs       QB      6.0
4       Michael Thomas   27     Saints       WR      4.0
5  Christian McCaffrey   24   Panthers       RB      6.0
6        George Kittle   26      49ers       TE      5.0
7      DeAndre Hopkins   28  Cardinals       WR      3.0
8      Stephon Gilmore   29   Patriots       CB      2.0
9        Derrick Henry   26     Titans       RB      5.0

# UPDATE

`UPDATE players SET Age = 0 WHERE Age = 24`

In [73]:
players.loc[players.Age == 24, "Age"] = 0
players

                  Name  Age       Team Position  AgeRank
0        Lamar Jackson   23     Ravens       QB      7.0
1       Russell Wilson   31   Seahawks       QB      1.0
2         Aaron Donald   29       Rams       DT      2.0
3      Patrick Mahomes    0     Chiefs       QB      6.0
4       Michael Thomas   27     Saints       WR      4.0
5  Christian McCaffrey    0   Panthers       RB      6.0
6        George Kittle   26      49ers       TE      5.0
7      DeAndre Hopkins   28  Cardinals       WR      3.0
8      Stephon Gilmore   29   Patriots       CB      2.0
9        Derrick Henry   26     Titans       RB      5.0

# JOIN

## Dataset

In [74]:
df_team = [
  [1, "Arizona Diamondbacks"]
  , [2, "Colorado Rockies"]
  , [3, "Los Angeles Dodgers"]
  , [4, "San Diego Padres"]
  , [5, "San Francisco Giants"]
]
team_columns = ["Id", "Name"]
teams = pd.DataFrame(data=df_team, columns=team_columns)

In [75]:
df_player = [
  [1, "Cody Bellinger", 3, "OF"]
  , [2, "Mookie Betts", 3, "OF"]
  , [3, "Nolan Arenado", 2, "3B"]
  , [4, "Trevor Story", 2, "SS"]
  , [5, "Fernando Tatis Jr.", 4, "SS"]
  , [6, "Buster Posey", 5, "C"]
  , [7, "Starling Marte", 1, "OF"]
  , [8, "Manny Machado", 4, "3B"]
]
player_columns = ["Id", "Name", "TeamId", "Position"]
players = pd.DataFrame(data=df_player, columns=player_columns)

In [76]:
df_homerun = [
  [2, 16]
  , [5, 15]
  , [8, 16]
]
homerun_columns = ["PlayerId", "Homerun"]
homeruns = pd.DataFrame(data=df_homerun, columns=homerun_columns)

## INNER JOIN


```
SELECT
  p.Id
  ,p.Name
  ,h.Homerun
FROM players p
INNER JOIN homeruns h
  ON p.Id = h.PlayerId
```

In [77]:
player_homerun = pd.merge(players, homeruns, left_on="Id", right_on="PlayerId", how="inner")
player_homerun

   Id                Name  TeamId Position  PlayerId  Homerun
0   2        Mookie Betts       3       OF         2       16
1   5  Fernando Tatis Jr.       4       SS         5       15
2   8       Manny Machado       4       3B         8       16

If each table have several keys, you set the “on” parameter as list.


```
player_homerun = pd.merge(players, homeruns, left_on=["Id", "xx", ...], right_on=["PlayerId", "xx", ...], how="inner")
```

You can use the suffix for each column.

In [78]:
player_team = pd.merge(players, teams, left_on="TeamId", right_on="Id", how="inner", suffixes=["_player", "_team"])
player_team

,Id_player,Name_player,TeamId,Position,Id_team,Name_team
0,1,Cody Bellinger,3,OF,3,Los Angeles Dodgers
1,2,Mookie Betts,3,OF,3,Los Angeles Dodgers
2,3,Nolan Arenado,2,3B,2,Colorado Rockies
3,4,Trevor Story,2,SS,2,Colorado Rockies
4,5,Fernando Tatis Jr.,4,SS,4,San Diego Padres
5,8,Manny Machado,4,3B,4,San Diego Padres
6,6,Buster Posey,5,C,5,San Francisco Giants
7,7,Starling Marte,1,OF,1,Arizona Diamondbacks

And then you can rename column later.

In [79]:
player_team = player_team.rename(
  columns={
    "Id_player": "PlayerId"
    ,"Name_player": "PlayerName"
    ,"Name_team": "TeamName"
  }
)
player_team

,PlayerId,PlayerName,TeamId,Position,Id_team,TeamName
0,1,Cody Bellinger,3,OF,3,Los Angeles Dodgers
1,2,Mookie Betts,3,OF,3,Los Angeles Dodgers
2,3,Nolan Arenado,2,3B,2,Colorado Rockies
3,4,Trevor Story,2,SS,2,Colorado Rockies
4,5,Fernando Tatis Jr.,4,SS,4,San Diego Padres
5,8,Manny Machado,4,3B,4,San Diego Padres
6,6,Buster Posey,5,C,5,San Francisco Giants
7,7,Starling Marte,1,OF,1,Arizona Diamondbacks

## LEFT / RIGHT OUTER JOIN


```
SELECT
  p.Id
  ,p.Name
  ,h.Homerun
FROM players p
LEFT JOIN homeruns h
  ON p.Id = h.PlayerId
```

In [80]:
player_homerun = pd.merge(players, homeruns, left_on="Id", right_on="PlayerId", how="left")
player_homerun

   Id                Name  TeamId Position  PlayerId  Homerun
0   1      Cody Bellinger       3       OF       NaN      NaN
1   2        Mookie Betts       3       OF       2.0     16.0
2   3       Nolan Arenado       2       3B       NaN      NaN
3   4        Trevor Story       2       SS       NaN      NaN
4   5  Fernando Tatis Jr.       4       SS       5.0     15.0
5   6        Buster Posey       5        C       NaN      NaN
6   7      Starling Marte       1       OF       NaN      NaN
7   8       Manny Machado       4       3B       8.0     16.0

## FULL OUTER JOIN


```
SELECT
  p.Id
  ,p.Name
  ,h.Homerun
FROM players p
FULL JOIN homeruns h
  ON p.Id = h.PlayerId
```

In [81]:
player_homerun = pd.merge(players, homeruns, left_on="Id", right_on="PlayerId", how="outer")
player_homerun

   Id                Name  TeamId Position  PlayerId  Homerun
0   1      Cody Bellinger       3       OF       NaN      NaN
1   2        Mookie Betts       3       OF       2.0     16.0
2   3       Nolan Arenado       2       3B       NaN      NaN
3   4        Trevor Story       2       SS       NaN      NaN
4   5  Fernando Tatis Jr.       4       SS       5.0     15.0
5   6        Buster Posey       5        C       NaN      NaN
6   7      Starling Marte       1       OF       NaN      NaN
7   8       Manny Machado       4       3B       8.0     16.0